<div class="text-center">
  <div class="row">
    <%= link_to cat_path(cat.giphy_id) do %>
    <%= image_tag cat.gif.url,
                      id: cat.giphy_id,
                      class: 'img-responsive img-rounded center-block' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-4 actions pull-left">
      <%= render 'like' %>
    </div>
    <div class="col-sm-4 actions pull-right">
      <%= render 'moar' %>
    </div>
  </div>
  <div class="row text-center">
    <%= render 'extras' %>
  </div>
</div>
