<h1>Cats#new</h1>
<%= render @cat %>
<p>
  <%= CatFact.get %>
</p>
<p>
  <%= render 'form' %>
</p>
<p>
  <%= link_to 'Moar Kittehz', root_path %>
</p>
<p>
  <%= link_to 'Kitteh Collecshun', cats_path %>  
</p>
