<h1>Cats#new</h1>
<%= render @cat %>
<p>
  <%= CatFact.get %>
</p>
<p>
  <%= render 'form' %>
</p>
<p>
  <a class="twitter-share-button" href="<%= @cat.tweet %>">
    Tweet
  </a>
</p>
<p>
  <%= link_to 'Moar', root_path %>
</p>
<p>
  <%= link_to 'Collecshun', cats_path %>
</p>
