<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to sign_out_path, method: :delete do %>
            <%= current_user.nickname %>
            <img src="<%= current_user.image %>" alt="current_user.name" class="img-circle" />
          <% end %>
        </li>
        <li>
          <%= link_to cats_path do %>
            <%= fa_icon 'archive 4x' %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to '/auth/twitter' do %>
            Sign in <%= fa_icon 'twitter' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
